.App {
  text-align: center;
  background-color: blue;
  color: #ede906;
}


.App-header {
  background-color: #ede906;
  min-height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: medium;
  color: rgb(17, 3, 96);
}

.App-link {
  color: #61dafb;
}


